


.background-color-beige{background-color: #D8C4B6 ;}
.text-color-blue{color: #4F709C;}
.text-color-navy{color: #213555;}
.background-color-navy{color: #213555;}

.profile-pic{ height: 150px; width: 150px;border-radius: 50% ;}

.bdr{border-radius: 30%;}
ul{list-style-type:none}